@font-face {
  font-family: Circular Bold;
  src: url("Assets/lineto-circular-bold.ttf");
}

@font-face {
  font-family: Circular Medium;
  src: url("Assets/lineto-circular-medium.ttf");
}

body {
  display: flex;
  height: 100vh;
  cursor: -webkit-image-set(
      url("Assets/cursor-regular-1x.png") 1x,
      url("Assets/cursor-regular-2x.png") 2x
    ),
    pointer;
}

h1 {
  font-size: 64px;
  margin: auto;
  font-family: Circular Bold;
}

h2 {
  font-size: 32px;
  font-family: Circular Medium;
  margin: 16px;
  cursor: -webkit-image-set(
    url("Assets/cursor-link-1x.png") 1x,
    url("Assets/cursor-link-2x.png") 2x
  ),
  pointer;
}

section.text {
  display: flex;
  padding: 40px;
  background-color: #ffcbcb;
  position: relative;
  margin: 120px;
  text-align: center;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  will-change: opacity;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: -webkit-image-set(
      url("Assets/cursor-link-1x.png") 1x,
      url("Assets/cursor-link-2x.png") 2x
    ),
    pointer;
}

div.links {
  display: flex;
  flex-direction: row;
}

section.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Assets/background.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  mix-blend-mode: screen;
  pointer-events: none;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 52px;
    color: #000000;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  section.text {
    margin: 200px 32px 200px 32px;
    text-align: left;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 24px;
  }
  section.text {
  display: flex;
  padding: 40px;
  background-color: none;
  position: relative;
  opacity: 0;
  flex-direction: column;
  align-items: left;    
    margin: 200px 32px 200px 32px;
    text-align: left;
}

}
